link(href="/css/reset.css", rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")
link(href="/css/page.css", rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
link(rel='stylesheet',type='text/css',href='/libs/bootstrap/dist/css/bootstrap.min.css')
script(src="/js/myfocus-2.0.4.min.js")
script(src="/js/main.js")
<script src="http://unslider.com/unslider.js"></script>

