extends ../layout

block content
  .index-header
    .container
      .index-header-logo
      .index-header-logo-text
      ul.index-header-nav
        li.item
          a(href="/") 首页
        li.item.active
          a(href="brandMarketing") 品牌营销
        li.item
          a(href="Filmproduction") 影视制作
        li.item
          a(href="Eventplanning") 活动策划
        li.item
          a(href="AboutUs") 关于我们
        li.item
          a(href="Contactus") 联系我们
  img.revealOnScroll(src="/images/brandMarketing-banner.png" style="max-width:100%;")
  #notice.notice
    #notice-tit.notice-tit
      ul
        li
          a(href="#").InActive 活动策划
        li
          a(href="#") 网络营销
        li
          a(href="#") 公关活动
        li
          a(href="#") 创意设计
    #notice-con.notice-con
      .mod
        ul
          li
            a(href="#")
              img(src="/images/1.png" alt="")
          li
            a(href="#")
              img(src="/images/2.png" alt="")
          li
            a(href="#")
              img(src="/images/3.png" alt="")
          li
            a(href="#")
              img(src="/images/4.png" alt="")
          li
            a(href="#")
              img(src="/images/5.png" alt="")
          li
            a(href="#")
              img(src="/images/6.png" alt="")
      .mod(style="display:none")
        ul
          li
            a(href="#")
              img(src="/images/7.jpg" alt="")
          li
            a(href="#")
              img(src="/images/8.jpg" alt="")
          li
            a(href="#")
              img(src="/images/9.jpg" alt="")
          li
            a(href="#")
              img(src="/images/10.jpg" alt="")
          li
            a(href="#")
              img(src="/images/11.jpg" alt="")
          li
            a(href="#")
              img(src="/images/12.jpg" alt="")
      .mod(style="display:none")
        ul
          li
            a(href="#")
              img(src="/images/13.jpg" alt="")
          li
            a(href="#")
              img(src="/images/14.jpg" alt="")
          li
            a(href="#")
              img(src="/images/15.jpg" alt="")
          li
            a(href="#")
              img(src="/images/16.jpg" alt="")
          li
            a(href="#")
              img(src="/images/17.jpg" alt="")
          li
            a(href="#")
              img(src="/images/18.jpg" alt="")
      .mod(style="display:none")
        ul
          li
            a(href="#")
              img(src="/images/19.jpg" alt="")
          li
            a(href="#")
              img(src="/images/20.jpg" alt="")
          li
            a(href="#")
              img(src="/images/21.jpg" alt="")
          li
            a(href="#")
              img(src="/images/22.jpg" alt="")
          li
            a(href="#")
              img(src="/images/23.jpg" alt="")
          li
            a(href="#")
              img(src="/images/24.jpg" alt="")
  script(src="/js/tabImg.js")