extends ../layout

block content
  img.revealOnScroll(src="/images/brandMarketing-banner.png" style="max-width:100%;")
  .bM-lightBox
    .mod#mod
      ul
        li.select
          a(href="#") 活动策划
        li
          a(href="#") 网络营销
        li
          a(href="#") 公关活动
        li
          a(href="#") 创意设计
  script(src="/js/page.js")