extends ../layout

block content
  .index-header
    .container
      .index-header-logo
      .index-header-logo-text
  .Contactus-banner
  .container
    .row
      p.newListTitle #{new1.title}
      p.newList #{new1.summary}