extends ../layout

block content
  .index-header
    .container
      .index-header-logo
      .index-header-logo-text
  .Contactus-banner
  .container
    .row
      p(style="margin-top:10%;margin-left:30%;").text-muted.h1 #{new1.title}
      p(style="margin-top:10%;line-height:40px;text-indent: 2em;margin-bottom:10%;").text-muted.h4 #{new1.summary}
      <div id="ckepop">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_weixin">微信</a>
      <a class="jiathis_button_tsina">新浪微博</a>
      <a href="http://www.jiathis.com/share"  class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
      <a class="jiathis_counter_style"></a> </div> 
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
      </div> <!-- JiaThis Button END -->