extends ../layout

block content
  .index-header
    .container
      .index-header-logo
      .index-header-logo-text
      ul.index-header-nav
        li.item
          a(href="/") 首页
        li.item
          a(href="brandMarketing") 品牌营销
        li.item
          a(href="Filmproduction") 影视制作
        li.item
          a(href="Eventplanning") 活动策划
        li.item
          a(href="AboutUs") 关于我们
        li.item
          a(href="Contactus") 联系我们
  .Contactus-banner
  .container
    .row
      p(style="margin-top:10%;margin-left:50%;").text-muted.h1 #{new1.title}
      p(style="margin-top:10%;line-height:40px;text-indent: 2em;margin-bottom:10%;").text-muted.h4 #{new1.summary}