extends ../layout

block content
  .index-header
    .container
      .index-header-logo
      .index-header-logo-text
  .Contactus-banner
  .container
    .row
      p(style="margin-top:10%;margin-left:30%;").text-muted.h1 #{new1.title}
      p(style="margin-top:10%;line-height:40px;text-indent: 2em;margin-bottom:10%;").text-muted.h4 #{new1.summary}