extends ../layout

block content
  .index-header
    .container
      .index-header-logo
      .index-header-logo-text
      ul.index-header-nav
        li.item
          a(href="/") 首页
        li.item
          a(href="brandMarketing") 品牌营销
        li.item
          a(href="Filmproduction") 影视制作
        li.item.active
          a(href="Eventplanning") 活动策划
        li.item
          a(href="AboutUs") 关于我们
        li.item
          a(href="Contactus") 联系我们
  img.revealOnScroll(src="/images/Eventplanning-banner.png" style="max-width:100%;")
  .Eventplanning-content
    .container
      .row
        .col-md-3
          img.revealOnScroll.ec-im1(src="images/Eventplanning-logo.png")
        .col-md-9
          p.text-muted.h4.revealOnScroll.ec-p1 活动策划绝不是单单的一次活动、一场晚会。我们在活动策划执行领域有着丰富的经验，精准的客户需求把控，完美而周到的服务以及每一个操作细节的苛求为您呈现一场完美的活动。
    .container
      .row
        .col-md-8
          img.revealOnScroll.ec-im2(src="/images/pixBox2-1.png")
          p.text-muted.h3.revealOnScroll.ec-p2 某公司年会盛典
        .col-md-4
          p.text-muted.h4.revealOnScroll.ec-p3 公司集文化传播、礼仪策划、广告设计、制作、承办执行于一体，拥有市场营销顾问团队、资深策划设计团队;各项技术制 作人员等;另有一批经验丰富的安装施工人员。我们的服务范围包括：开业开幕、庆典年会、演艺晚会、高端酒会、演唱会 、签约启动、奠基开工、落成投产、乔迁揭牌、商务会议、影视制作、品牌推广等，承办了政府、银行、地产、集团企业 等各大领域的大型活动项目数以千计。公司目前的业务已发展至全国多个省市。
    .dashed(style="border: 1px dashed black;")
    .container
      .row
        .col-md-5
          p.revealOnScroll.text-muted.h4.revealOnScroll.ec-p4 公司集文化传播、礼仪策划、广告设计、制作、承办执行于一体，拥有市场营销顾问团队、资深策划设计团队;各项技术制 作人员等;另有一批经验丰富的安装施工人员。我们的服务范围包括：开业开幕、庆典年会、演艺晚会、高端酒会、演唱会 、签约启动、奠基开工、落成投产、乔迁揭牌、商务会议、影视制作、品牌推广等，承办了政府、银行、地产、集团企业 等各大领域的大型活动项目数以千计。公司目前的业务已发展至全国多个省市。
        .col-md-7
          img.revealOnScroll.ec-im3(src="/images/pixBox2-2.png")
          p.revealOnScroll.text-muted.h3.ec-p5 新人婚礼现场
    .dashed(style="border: 1px dashed black;")
    .container
      .row
        .col-md-8
          img.revealOnScroll.ec-im4(src="/images/pixBox2-3.png")
          p.revealOnScroll.text-muted.h3.ec-p6 某公司年会盛典
        .col-md-4
          p.revealOnScroll.text-muted.h4.ec-p7 公司集文化传播、礼仪策划、广告设计、制作、承办执行于一体，拥有市场营销顾问团队、资深策划设计团队;各项技术制 作人员等;另有一批经验丰富的安装施工人员。我们的服务范围包括：开业开幕、庆典年会、演艺晚会、高端酒会、演唱会 、签约启动、奠基开工、落成投产、乔迁揭牌、商务会议、影视制作、品牌推广等，承办了政府、银行、地产、集团企业 等各大领域的大型活动项目数以千计。公司目前的业务已发展至全国多个省市。