extends ../layout

block content
  img.revealOnScroll(src="/images/Filmproduction-banner.png" style="max-width:100%;")
  .Fd-Movie
    .container
      .row
        .col-md-5.col-sm-5
          img.revealOnScroll.fm-im1(src="images/Filmproduction-Movie-Img1.png")
          img.revealOnScroll.fm-im2(src="images/Filmproduction-Movie-Img2.png")
        .col-md-7.col-sm-7
          img.revealOnScroll.fm-im3(src="images/Filmproduction-Movie-logo.png")
          p.revealOnScroll.text-muted.h4.fm-p 用视觉传播塑造企业形象，专业的影视制作团队，8年的实战经验总结和众多的成功案例，一直追求创意思维+高效执行,我们在广告领域，一直追求创意是王道，硬件是辅助的理念赢得了众多客户的认同在广告拍摄中，选取更适合更精准的视频影视创意，位企业对外宣传播奠定了基础
          .frame.text-muted.h4 联系我们 >>
  .Fd-Postproduction(style="background-color: #f5f5f5;")
    .container
      .row
        .col-md-9
          img.revealOnScroll.fp-im1(src="/images/Filmproduction-Postproduction.png" style="margin-top:20%;margin-bottom:20%;")
          img.revealOnScroll.fp-im2(src="/images/Filmproduction-Postproduction-play.png" style="position: absolute;left:50%;top:50%;")
        .col-md-3
          p.revealOnScroll.text-muted.h2.fp-p1 电视/电影后期制作
          p.revealOnScroll.text-muted.h4.fp-p2 集合北上广一线知名导演创作团队，对影片价值的极致追求，画面内容的精准把控，帮助企业提升品牌与商业价值
          .frame.text-muted.h4 联系我们 >>
  .index-ad(style="margin-top:0%;")
    .div2(style="position:absolute;")
      img(src="/images/index-ad.png" style="max-width:100%;")
    .container
      .row
        .col-md-5.col-sm-5
          img.revealOnScroll.im6(src="/images/index-ad-button.png" style="max-width:100%")
        .col-md-7.col-sm-7
          p.revealOnScroll.ia-p1 做企业的视觉品牌管家
          p.revealOnScroll.text-muted.h4.ia-p2(style="") 我们在广告领域，一直追求创意是王道，硬件是辅助的理念赢得了众多客户的认同在广告拍摄中，选取更适合更精准的视频影视创意，位企业对外宣传播奠定了基础
          img.revealOnScroll.ia-m1(src="/images/index-ad-arrow.png")
  .Fd-images(style="margin-top:5%;")
    .container
      .row
        .col-md-9.col-sm-9
          img.revealOnScroll.fi-im1(src="/images/Filmproduction-images-1.png")
        .col-md-3.col-sm-3
          img.revealOnScroll.fi-im2(src="/images/Filmproduction-images-2.png")
          img.revealOnScroll.fi-im3(src="/images/Filmproduction-images-3.png")
          img.revealOnScroll.fi-im4(src="/images/Filmproduction-images-4.png")