doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    include ./includes/head
  body
    .index-header
      .container
        .index-header-logo
        .index-header-logo-text
        ul.index-header-nav
          li.item.active
            a(href="/") 首页
          li.item
            a(href="brandMarketing") 品牌营销
          li.item
            a(href="Filmproduction") 影视制作
          li.item
            a(href="Eventplanning") 活动策划
          li.item
            a(href="AboutUs") 关于我们
          li.item
            a(href="Contactus") 联系我们
        .navbar.revealOnScroll(style="position:absolute;right:0;")
            if user
              p.navbar-text
              span(style="display:inline;color:#ccc;") 欢迎您,#{user.name}
              span &nbsp;|&nbsp;
              a.nvabar-link(href="/logout" style="display:inline;color:#ccc;") 登出
            else
              p.navbar-text
              a.nvabar-link(href="/signup" style="display:inline;color:#ccc;") 注册
              span &nbsp;|&nbsp;
              a.nvabar-link(href="/signin" style="display:inline;color:#ccc;") 登录
    block content
    .index-footer(style="position:relative;")
      a.index-footer-information.revealOnScroll ©2017  程氏星辉（北京）科技有限公司   版权所有
      
    //- #signupModal.modal.fade
    //-   .modal-dialog
    //-     .modal-content
    //-       form(method="post", action="/user/signup")
    //-         .modal-header 注册
    //-         .modal-body
    //-           .form-group
    //-             label(for="signupName") 用户名
    //-             input#signupName.form-control(name="user[name]", type="text")
    //-           .form-group
    //-             label(for="signupPassword") 密码
    //-             input#signupPassword.form-control(name="user[password]", type="password")
    //-         .modal-footer
    //-           button.btn.btn-dafault(type="button", data-dismiss="modal") 关闭
    //-           button.btn.btn-success(type="submit") 提交
    //- #signinModal.modal.fade
    //-    .modal-dialog
    //-      .modal-content
    //-        form(method="post", action="/user/signin")
    //-          .modal-header 登录
    //-          .modal-body
    //-            .form-group
    //-              label(for="signinName") 用户名
    //-              input#signinName.form-control(name="user[name]", type="text")
    //-            .form-group
    //-              label(for="signinPassword") 密码
    //-              input#signinPassword.form-control(name="user[password]", type="password")
    //-          .modal-footer
    //-            button.btn.btn-dafault(type="button", data-dismiss="modal") 关闭
    //-            button.btn.btn-success(type="submit") 提交